:root{
    --text-color:#9E9AA8;
    --main-color:#34313D;
    --ligth-green:#2BD0D0;
    --hover-color:#9AE3E3;
    --error-color:#F46363;
    --light-bg:#EFF1F7;
}


/* FONTS */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html{
    box-sizing:border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing:inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
    background-color:#fff;
    color:var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}
/* PLACE holder styles */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder{
    color:rgb(52,49,61);
    opacity:1;
}
/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* AUTOFILL */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
border-color:transparent;
-webkit-text-fill-color: inherit;
-webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* CONTAINER */
.container{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
/* BUTTON */
.button {
    display: inline-block;
    padding: 14px 40px 12px;
    border-radius: 28px;
    border:0;
    background-color:var(--ligth-green);
    color:#fff;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor:pointer;
    white-space: nowrap;
}
.button:hover{
    background-color:var(--hover-color);
}
.button:active{
    opacity: 0.6;
}
.button--small {
    padding: 8px 24px;
    font-size: 15px;
    line-height: 22.5px;
}
.button--big{
    padding: 18px 40px 16px;
}

.button--rectangle{
    border-radius: 5px;
}

.button--rectangle-big{
    border-radius:10px
}
/* MAIN-CONTENT */
.main-content{
    flex-grow: 1;
}

/* SITE HEADER */
.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
    font-weight: bold;
    line-height: normal;
    background-color:#fff;
}
.side-header__container {
    display: flex;
    align-items: center;
}
.site-header__logo {
    margin-right: 45px;
}
/* LOGO */
.logo {
    display: inline-block;
}
.logo:hover{
    opacity: 0.8;
}
.logo:active{
    opacity: 0.6;
}
.logo__img {
    display: block;
    width: 120px;
    height: 32px;
    object-fit: contain;
}
.site-header__sitenav {
    margin-right: auto;
}
.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sitenav__item:not(:last-child){
    margin-right: 30px;
}
.sitenav__link {
    display: block;
    text-decoration: none;
    color:var(--text-color);
}
.sitenav__link:hover{
    color:var(--main-color)
}
.sitenav__link:active{
opacity: 0.6;
}
.site-header__auth {
    display: flex;
    align-items:center;
    margin-left: 45px;
}
.site-header__login-link {
    color:var(--text-color);
    text-decoration: none;
    margin-right: 37px;
}
.site-header__login-link:hover {
    color:var(--main-color);    
}
.site-header__login-link:active {
    opacity: 0.6;
}

/* HERO */
.hero {
    padding-top: 92px;
    padding-bottom: 222px;
    background-image: url("../img/computer_table.png");
    background-repeat: no-repeat;
    background-position: left calc(50% + 415px) top 30px;
}
.hero__inner {
    max-width: 565px;
}
.hero__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color:var(--main-color);
}
.hero__text {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 36px;
}
/* .INDEX-URL-SHORTENER-FEATURES-WRAPPER */
.index-url-shortener-features-wrapper {
    background-color:var(--light-bg);  
    display: flex;
    flex-direction: column;
}
.index-url-shortener-features-wrapper__url-shortener{
    margin-top:-84px;
}
/* URL shortener */
.url-shortener__form {
    padding: 48px 64px;
    border-radius:10px;
    margin-bottom: 24px;
    background-color:#4b3f6b;
    background-image:url("../img/purple-bg.svg");
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;

}
.url-shortener__input-wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}
.url-shortener__input {
    flex-grow: 1;
    display: block;
    width: 100%;
    padding: 14px 32px;
    font-weight: 500;
    border: 3px solid transparent;
    border-radius:10px;
    font-size:20px;
    line-height: 36px;
    color:var(--main-color);
}
.uel-shortenr__error-msg {
    display: none;
}
.url-shortener__input:not(:focus):not(:placeholder-shown):invalid{
    border-color: var(--error-color);
    color:var(--error-color);
}

.url-shortener__input:not(:focus):not(:placeholder-shown):invalid~ .uel-shortenr__error-msg{
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    font-style: italic;
    color:var(--error-color);
    letter-spacing: 0.11px;

}

.url-shortener__results {
    display: none;
    font-size: 20px;
    line-height: 36px;
}
.url-shortener__results--open{
    display: block;
}
.url-shortener__result {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border-radius:5px;
    background-color:#fff;
    color:var(--main-color);
}
.url-shortener__result:not(:last-child){
    margin-bottom: 16px;
}
.url-shortener__original-link {
    width: 100%;
    margin-right: 24px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.url-shortener__short-link {
    font-weight: 500;
    margin-right: 24px;
    color:var(--ligth-green);
    text-decoration: none;
}
.url-shortener__copy-button{
    min-width: 103px;
}